<div class="game-container">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>

        <div class="items">
            <div class="item" [ngStyle]="{top: '12px', left: '12px', 'background-color': 'brown'}">
                <div class="item-title">8</div>
            </div>
            <div class="item" [ngStyle]="{top: '148px', left: '12px', 'background-color': 'blue'}">
                <div class="item-title">2</div>
            </div>
            <div class="item" [ngStyle]="{top: '12px', left: '144px', 'background-color':'navy'}">
                <div class="item-title">4</div>
            </div>
        </div>
    </div>
</div>